@import '../../variables.scss';
@import '../../mixins.scss';


.blog-footer {
  color: #fff;
  position: fixed;
  text-align: center;
  background-color: #333;
  width: 100%;
  bottom: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  font-style: italic;
  @include font14;

  @media(max-width:1024px) {
    justify-content: space-around;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;

  }

  p:last-child {
    margin-bottom: 0;
  }
}
