    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item" [ngClass]="{'disabled': currentPage === 1}">
          <a class="page-link" aria-label="Previous" (click)="previousPage()">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <ng-container *ngIf="!hidePaginationNumbers; else mobilePagination">
          <li class="page-item" *ngFor="let number of getRange(totalPages)"
            [ngClass]="{'active': currentPage === number}" (click)="selectPage(number)">
            <a class=" page-link">{{ number }}</a>
          </li>
        </ng-container>
        <ng-template #mobilePagination>
          <li class="page-item" *ngFor="let number of [currentPage - 1, currentPage, currentPage + 1]"
            [ngClass]="{'active': currentPage === number}">
            <a class="page-link" (click)="selectPage(number)"
              *ngIf="number >= 1 && number <= totalPages">{{ number }}</a>
          </li>
        </ng-template>
        <li class="page-item" [ngClass]="{'disabled': currentPage === totalPages}" (click)="nextPage()">
          <a class="page-link" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
