    <div class="card-container container d-flex justify-content-center align-items-center">
      <div class="card p-3" (click)="onUserClick('news')">
        <img src="../../assets/images.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text fs-20 fw-bold">Top News</p>
        </div>
      </div>
      <div class="card p-3 ml-4" (click)="onUserClick('searchArticle')">
        <img src="../../assets/download.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text fs-20 fw-bold">Search Article</p>
        </div>
      </div>
    </div>
