  <div class="news-list-container p-3 container-fluid d-flex flex-column align-items-center position-relative">
    <ng-container *ngIf="isArticleSearch; else topNewsListContainer">
      <div class="row w-100" *ngIf="paginatedArticles?.length">
        <div class="col-md-4" *ngFor="let article of paginatedArticles">
          <div class="card mb-4" (click)="showArticleDetails(article)">
            <img
              [src]="article?.multimedia?.[0]?.url? 'https://static01.nyt.com/'+article?.multimedia?.[0]?.url : '../../assets/newspaper.jpg'"
              class="card-img-top" alt="News Image">
            <!-- For articles full url missing so adding here to get complete image path -->
            <div class="card-body d-flex align-items-end w-100 h-100">
              <h6 class=" card-title">{{article?.abstract===''? 'Article Title' : article.abstract}} </h6>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #topNewsListContainer>
      <div class="row w-100" *ngIf="paginatedNews?.length">
        <div class="col-md-4" *ngFor="let news of paginatedNews">
          <div class="card mb-4" (click)="showNewsDetails(news)">
            <img [src]="news?.multimedia?.[0]?.url ? news.multimedia[0].url:'../../assets/newspaper.jpg'"
              class="card-img-top" alt="News Image">
            <div class="card-body d-flex align-items-end w-100 h-100">
              <h6 class=" card-title">{{news.title===''? 'News Title' : news.title}} </h6>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

    <div *ngIf="!isLoading && !paginatedNews?.length && !paginatedArticles?.length" class="no-data">
      <p class="font-weight-bold">There are no news/articles to display.</p>
    </div>

    <app-page-navigation [totalPages]="totalPages" [currentPage]="currentPage"
      [hidePaginationNumbers]="windowWidth < 768" (updateCurrentPage)="updateCurrentPage($event)"
      class="pagination-comp" *ngIf="paginatedNews?.length!==0 ||
      paginatedArticles?.length!==0">
    </app-page-navigation>

    <app-loader *ngIf="isLoading"></app-loader>

  </div>
